@import url('https://fonts.googleapis.com/css2?family=Ribeye&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

@theme {
--color-MyWhite: #E0E0E0;
--color-MyBlack: #000000;
--color-MyDark: #1F1F1F;
--color-MyRed: #dC2626;
--color-MyGreen: #16A34A;
--color-MyOrange: #D6533B;
--color-MyYellow: #FFE2A9;

--font-headline: 'Ribeye', cursive;
--font-main: 'Ubuntu Mono', monospace;
}

html {
  height: 100%;
  background-color: var(--color-MyBlack) !important;
  margin: 0;
  padding: 0;
}
